html, body, div, span, applet, object, iframe,
h1, h2, h3, h4, h5, h6, p, blockquote, pre,
a, abbr, acronym, address, big, cite, code,
del, dfn, em, img, ins, kbd, q, s, samp,
small, strike, strong, sub, sup, tt, var,
b, u, i, center,
dl, dt, dd, ol, ul, li,
fieldset, form, label, legend,
table, caption, tbody, tfoot, thead, tr, th, td,
article, aside, canvas, details, embed,
figure, figcaption, footer, header, hgroup,
menu, nav, output, ruby, section, summary,
time, mark, audio, video {
  margin: 0;
  padding: 0;
  border: 0;
  font: inherit;
  font-size: 100%;
  vertical-align: baseline; }

html {
  line-height: 1; }

ol, ul {
  list-style: none; }

table {
  border-collapse: collapse;
  border-spacing: 0; }

caption, th, td {
  text-align: left;
  font-weight: normal;
  vertical-align: middle; }

q, blockquote {
  quotes: none; }
  q:before, q:after, blockquote:before, blockquote:after {
    content: "";
    content: none; }

a img {
  border: none; }

article, aside, details, figcaption, figure, footer, header, hgroup, main, menu, nav, section, summary {
  display: block; }

/* Rounding things */
/* Typography things */
/* Navigational things */
/* Shadows */
/* Feature Tiles */
.alert {
  padding: 10px;
  font-size: 12px; }
  .alert .alert-icon {
    width: 20px;
    height: 20px;
    margin: 0 6px 0 0;
    overflow: hidden;
    background-image: url("../img/sprite-alerts.png");
    float: left;
    vertical-align: middle; }

.success, .warning, .caution, .notification {
  border-radius: 3px;
  -moz-border-radius: 3px;
  -webkit-border-radius: 3px; }

.success {
  border: 1px solid #4ea44f;
  background-color: #f6fbf6;
  color: #4ea44f; }
  .success .alert-icon {
    background-position: -20px 0; }

.warning {
  border: 1px solid #CF534D;
  background-color: white;
  color: #CF534D; }
  .warning .alert-icon {
    background-position: -40px 0; }

.caution {
  border: 1px solid #ff9900;
  background-color: #fff5e5;
  color: #ff9900; }
  .caution .alert-icon {
    background-position: -60px 0; }

.notification {
  border: 1px solid #3c8bd3;
  background-color: #f7fafd;
  color: #3c8bd3; }
  .notification .alert-icon {
    background-position: 0 0; }

/* input[type=checkbox]{outline:1px solid $blue;margin:0;border:none;box-shadow:none;} */
.btn {
  background-color: #3c8bd3;
  border-radius: 2px;
  -moz-border-radius: 2px;
  -webkit-border-radius: 2px;
  text-align: center;
  color: #fff;
  text-transform: uppercase; }

.buy {
  line-height: 40px; }
  .buy .btnCount {
    font-size: 14px;
    font-weight: normal;
    white-space: nowrap; }

@media screen and (min-width: 480px) {
  .product .buyBox .buyBoxPadding .nav .buy {
    line-height: 30px; }
  .product .buyBox .buyBoxPadding .nav .btnCount {
    font-size: 12px; } }
body {
  font: 100% Helvetica, sans-serif;
  -webkit-font-smoothing: subpixel-antialiased;
  -moz-osx-font-smoothing: auto; }

a {
  color: #3c8bd3;
  text-decoration: none; }
  a:hover {
    text-decoration: underline; }

h1, h2, h3, h4, h5, p {
  color: #000; }

h1 {
  font-size: 38px;
  line-height: 2; }

h2 {
  font-size: 26px;
  line-height: 1.8; }

h3 {
  font-size: 20px;
  line-height: 1.6; }

h4 {
  font-size: 18px;
  line-height: 1.5; }

h5 {
  font-size: 17px;
  line-height: 1.45; }

p {
  font-size: 16px;
  line-height: 1.4;
  margin-bottom: 12.25; }

.psmall {
  font-size: 14px;
  line-height: 14.5px; }

blockquote {
  font-size: 16px;
  line-height: 1.4;
  font-style: italic;
  border-left: 2px solid #3c8bd3;
  margin: 0 0 0 6px;
  padding: 0 0 0 6px; }

.mouse {
  font-size: 12.8px;
  line-height: 1.4;
  font-style: italic; }

@media screen and (min-width: 320px) and (max-width: 479px) {
  .buyBox .cityLogo img {
    height: 40px; } }
@media screen and (min-width: 480px) {
  .buyBox .cityLogo img {
    height: 50px; } }
.product .atf {
  width: 100%; }
  .product .atf .carousel {
    float: left; }
    .product .atf .carousel .heroWrapper {
      width: 100%;
      position: relative; }
  .product .atf .buyBox {
    float: left; }
.product .sectionTitle {
  text-align: center;
  float: left;
  width: 100%;
  text-transform: capitalize;
  font-weight: normal;
  color: #878787; }
  .product .sectionTitle .sectionSubTitle {
    display: block;
    color: #878787; }
.product section {
  float: left;
  width: 100%; }

.price {
  color: #ff9900; }

.save {
  color: #CF534D; }

.discount {
  color: #878787;
  text-decoration: line-through; }

@media screen and (min-width: 320px) and (max-width: 479px) {
  .product .atf .carousel {
    clear: both;
    width: 100%; }
  .product .atf .buyBox {
    clear: both;
    width: 100%; }
  .product .sectionTitle {
    margin: 30px 0 6px 0;
    font-size: 18px; }
    .product .sectionTitle .sectionSubTitle {
      font-size: 14px;
      line-height: 24px; } }
@media screen and (min-width: 480px) {
  .product .atf .carousel {
    width: 49%; }
    .product .atf .carousel .heroWrapper {
      padding-bottom: 69.716%; }
  .product .atf .buyBox {
    width: 50%; } }
@media screen and (min-width: 768px) {
  .product .atf .carousel {
    width: 74%; }
    .product .atf .carousel .heroWrapper {
      padding-bottom: 63.536%; }
  .product .atf .buyBox {
    width: 25%; } }
@media screen and (min-width: 1024px) {
  .product .atf .carousel {
    width: 74%; }
    .product .atf .carousel .heroWrapper {
      padding-bottom: 52.356%; }
  .product .atf .buyBox {
    width: 25%; } }
.header {
  height: 46px;
  background-color: #000;
  background-image: url("../img/attractionLogos/header-background.png"); }
  .header img {
    float: left;
    margin: 7px 0 0 3px;
    height: 30px; }
  .header form {
    float: left;
    margin: 11px 0 0 30px; }
  .header #cityNav select {
    background-color: #000;
    color: #fff;
    border-color: #666666; }

.breadcrumb {
  padding: 0 0 0 3px;
  background-color: #000;
  color: #fff;
  -webkit-box-shadow: 0 2px 4px rgba(0, 0, 0, 0.5) ;
  -moz-box-shadow: 0 2px 4px rgba(0, 0, 0, 0.5) ;
  box-shadow: 0 2px 4px rgba(0, 0, 0, 0.5) ;
  text-overflow: ellipsis;
  white-space: nowrap;
  overflow: hidden; }
  .breadcrumb a {
    color: #fff;
    padding: 0 6px 0 0; }
    .breadcrumb a:hover {
      text-decoration: none; }

@media screen and (min-width: 320px) and (max-width: 479px) {
  #cityNav select {
    font-size: 13px; }

  .breadcrumb a {
    font-size: 14px;
    line-height: 24px; } }
@media screen and (min-width: 480px) {
  .breadcrumb a {
    font-size: 14px;
    line-height: 26px; } }
@media screen and (min-width: 768px) {
  .breadcrumb a {
    font-size: 14px;
    line-height: 28px; } }
@media screen and (min-width: 1024px) {
  .breadcrumb a {
    font-size: 14px;
    line-height: 30px; } }
.buyBoxWrap {
  margin: 0 10px;
  padding: 10px 0 0 0; }

.buyBox {
  border: 1px solid #404040;
  border-radius: 3px;
  -moz-border-radius: 3px;
  -webkit-border-radius: 3px; }
  .buyBox .buyBoxPadding {
    padding: 10px 10px 15px 10px; }
    .buyBox .buyBoxPadding h1 {
      text-align: center; }
    .buyBox .buyBoxPadding .smallCP {
      color: #404040; }
    .buyBox .buyBoxPadding .reviews {
      text-align: center;
      margin: 6px 0 0 0;
      font-size: 12px;
      font-weight: bold; }
      .buyBox .buyBoxPadding .reviews img {
        vertical-align: middle; }
      .buyBox .buyBoxPadding .reviews .reviewCount {
        font-weight: normal;
        font-size: 10px; }
    .buyBox .buyBoxPadding .tabs {
      margin: 8px 0 0 0;
      width: 100%;
      font-size: 12px; }
      .buyBox .buyBoxPadding .tabs .tabrow {
        margin: 0;
        padding: 0;
        list-style: none;
        line-height: 24px;
        position: relative; }
      .buyBox .buyBoxPadding .tabs .tabrow li {
        margin: 0 0 0 2px;
        padding: 0 7px;
        border: 1px solid #878787;
        background: #ededed;
        display: inline-block;
        position: relative;
        z-index: 0;
        border-top-left-radius: 3px;
        border-top-right-radius: 3px; }
        .buyBox .buyBoxPadding .tabs .tabrow li a {
          color: #878787; }
          .buyBox .buyBoxPadding .tabs .tabrow li a:hover {
            text-decoration: none;
            color: #404040; }
      .buyBox .buyBoxPadding .tabs .tabrow:before {
        z-index: 1; }
      .buyBox .buyBoxPadding .tabs .tabrow:after {
        position: absolute;
        content: "";
        width: 100%;
        bottom: 0;
        left: 0;
        border-bottom: 1px solid #878787;
        z-index: 1; }
      .buyBox .buyBoxPadding .tabs .tabrow li.selected {
        z-index: 2;
        border-bottom-color: #fef7e9;
        background-color: #fff; }
        .buyBox .buyBoxPadding .tabs .tabrow li.selected a {
          color: #404040; }
          .buyBox .buyBoxPadding .tabs .tabrow li.selected a:hover {
            text-decoration: none; }
    .buyBox .buyBoxPadding .tabMessage {
      padding: 6px; }
    .buyBox .buyBoxPadding .ageGroup {
      margin: 0;
      padding: 8px 0;
      border-bottom: 1px solid #ededed;
      display: table;
      width: 100%; }
      .buyBox .buyBoxPadding .ageGroup .ageGroupLineItem {
        display: table-row; }
      .buyBox .buyBoxPadding .ageGroup .age, .buyBox .buyBoxPadding .ageGroup .price, .buyBox .buyBoxPadding .ageGroup .quantity {
        display: table-cell;
        vertical-align: bottom; }
      .buyBox .buyBoxPadding .ageGroup .price, .buyBox .buyBoxPadding .ageGroup .quantity {
        text-align: right; }
      .buyBox .buyBoxPadding .ageGroup .age {
        font-weight: bold;
        color: #404040; }
      .buyBox .buyBoxPadding .ageGroup .ageGroupDiscount {
        margin: 2px 0 0 5px;
        color: #878787;
        font-weight: normal; }
        .buyBox .buyBoxPadding .ageGroup .ageGroupDiscount .discount {
          margin: 0 0 0 2px; }
        .buyBox .buyBoxPadding .ageGroup .ageGroupDiscount .save {
          margin: 0 0 0 5px; }
      .buyBox .buyBoxPadding .ageGroup .price {
        margin: 0 0 0 15px;
        font-weight: bold;
        vertical-align: bottom; }
      .buyBox .buyBoxPadding .ageGroup .quantity {
        width: 20%;
        padding: 0 0 3px 10px;
        vertical-align: bottom; }
    .buyBox .buyBoxPadding .addOns .title {
      color: #666666;
      text-transform: uppercase; }
    .buyBox .buyBoxPadding .addOns .addOn {
      font-weight: bold;
      font-size: 13px;
      margin: 8px 0; }
      .buyBox .buyBoxPadding .addOns .addOn input {
        float: left;
        margin: 5px 0 0 0; }
      .buyBox .buyBoxPadding .addOns .addOn .addOnLabel {
        margin: 0 0 0 20px;
        color: #404040; }
      .buyBox .buyBoxPadding .addOns .addOn .addOn_ages {
        display: block;
        font-size: 12px;
        font-weight: normal; }
        .buyBox .buyBoxPadding .addOns .addOn .addOn_ages .price {
          font-weight: bold; }
    .buyBox .buyBoxPadding .pricing {
      padding: 5px 0 0 0;
      border-top: 1px solid #878787;
      width: 100%;
      display: table; }
      .buyBox .buyBoxPadding .pricing .priceLineItem {
        display: table-row; }
        .buyBox .buyBoxPadding .pricing .priceLineItem .priceLabel, .buyBox .buyBoxPadding .pricing .priceLineItem .value {
          display: table-cell;
          text-align: right;
          text-transform: capitalize; }
        .buyBox .buyBoxPadding .pricing .priceLineItem .priceLabel {
          padding: 0 6px 0 0;
          color: #878787; }
        .buyBox .buyBoxPadding .pricing .priceLineItem .value {
          width: 10%; }
      .buyBox .buyBoxPadding .pricing .totalPrice {
        font-weight: bold; }
    .buyBox .buyBoxPadding .nav {
      margin: 20px 0 0 0; }
  .buyBox .buyBoxFooter {
    padding: 5px 10px;
    border-top: 1px solid #878787;
    background-color: #ededed; }
    .buyBox .buyBoxFooter .currency {
      font-size: 12px;
      text-align: center;
      color: #878787;
      font-weight: normal;
      text-transform: capitalize; }

@media screen and (min-width: 320px) and (max-width: 479px) {
  h1 {
    font-size: 18px;
    line-height: 26px;
    font-weight: bold; }

  .smallCP {
    font-size: 15px; }

  .age {
    font-size: 14px; }

  .ageGroupDiscount {
    font-size: 12px; }

  .price, .totalPrice {
    font-size: 20px; }

  .addOns {
    margin: 5px 0 0 0; }
    .addOns .title {
      font-size: 12px; }
    .addOns .addOn {
      font-size: 12px;
      margin: 8px 0; }
      .addOns .addOn .addOn_ages .price {
        font-size: 12px; }

  .priceLabel, .discount {
    font-size: 12px; } }
@media screen and (min-width: 480px) {
  h1 {
    font-size: 18px;
    line-height: 26px;
    font-weight: bold; }

  .smallCP {
    font-size: 15px; }

  .age {
    font-size: 14px; }

  .save {
    font-size: 12px; }

  .price, .totalPrice {
    font-size: 18px; }

  .addOns {
    margin: 5px 0 0 0; }
    .addOns .title {
      font-size: 12px; }
    .addOns .addOn .addOn_ages .price {
      font-size: 12px; }

  .priceLabel, .discount {
    font-size: 12px; } }
@media screen and (min-width: 768px) {
  h1 {
    font-size: 20px;
    line-height: 26px;
    font-weight: bold; }

  .smallCP {
    font-size: 16px; }

  .age {
    font-size: 16px; }

  .save {
    font-size: 14px; }

  .price, .totalPrice {
    font-size: 20px; }

  .addOns {
    margin: 15px 0 0 0; }
    .addOns .title {
      font-size: 12px; }
    .addOns .addOn .addOn_ages .price {
      font-weight: bold;
      font-size: 14px; }

  .priceLabel, .discount {
    font-size: 12px; } }
.slidesjs-previous, .slidesjs-next {
  display: none; }

.slidesjs-control img {
  width: 100%; }
.slidesjs-control .carouselMessage {
  background: rgba(225, 225, 225, 0.7);
  position: absolute;
  bottom: 10;
  width: 100%;
  color: #404040;
  text-shadow: 1px 1px 1px rgba(225, 225, 225, 0.35); }
  .slidesjs-control .carouselMessage .carouselTitle {
    padding: 10px;
    font-weight: normal; }
  .slidesjs-control .carouselMessage .location {
    display: block;
    font-weight: bold; }

.slidesjs-pagination {
  margin: 12px 0 0 10px; }
  .slidesjs-pagination li a {
    display: block;
    float: left;
    margin: 0 7px 0 0;
    width: 11px;
    height: 11px;
    -moz-border-radius: 50%;
    -webkit-border-radius: 50%;
    border-radius: 50%;
    background: #878787; }
    .slidesjs-pagination li a:hover {
      background: #000; }
  .slidesjs-pagination a.active {
    background: #404040; }

.carousel {
  margin: 0 0 15px 0; }

.slideComponent {
  float: left;
  padding: 10px 0 0 0;
  width: 100%;
  -webkit-box-shadow: 0 2px 5px rgba(0, 0, 0, 0.35) inset;
  -moz-box-shadow: 0 2px 5px rgba(0, 0, 0, 0.35) inset;
  box-shadow: 0 2px 5px rgba(0, 0, 0, 0.35) inset;
  background-color: #E3F2FD;
  overflow: scroll;
  overflow-y: hidden;
  -webkit-overflow-scrolling: touch; }
  .slideComponent .slideContainer {
    width: 10000px; }
  .slideComponent .tileWrap {
    float: left;
    margin: 10px; }
  .slideComponent .attractionTile {
    position: relative;
    min-height: 300px;
    overflow: hidden;
    border-radius: 8px;
    -moz-border-radius: 8px;
    -webkit-border-radius: 8px;
    background-color: #fff;
    border: 1px solid #ededed;
    background-size: contain;
    background: center center no-repeat; }
  .slideComponent .attractionType {
    width: 100%; }
  .slideComponent .attractionTitle, .slideComponent .attractionSubTitle {
    text-align: center;
    padding: 8px 0; }
  .slideComponent .attractionTitle {
    font-weight: bold; }
    .slideComponent .attractionTitle img {
      width: 80%; }
  .slideComponent .attractionSubTitle {
    background: rgba(225, 225, 225, 0.8);
    width: 100%;
    color: #000;
    font-weight: bold;
    text-shadow: 1px 1px 1px rgba(225, 225, 225, 0.35);
    position: absolute;
    bottom: 0; }
  .slideComponent .attractionCopy {
    color: #404040;
    font-weight: normal;
    display: block; }
  .slideComponent .ageGroup {
    border-bottom: 1px solid #ededed;
    display: table;
    width: 100%; }
    .slideComponent .ageGroup .ageGroupLineItem {
      margin: 0 10px;
      display: table-row; }
    .slideComponent .ageGroup .age, .slideComponent .ageGroup .price, .slideComponent .ageGroup .quantity {
      display: table-cell;
      vertical-align: bottom; }
    .slideComponent .ageGroup .price, .slideComponent .ageGroup .quantity {
      text-align: right; }
    .slideComponent .ageGroup .age {
      font-weight: normal;
      color: #878787; }
    .slideComponent .ageGroup .save {
      margin: 0 0 0 5px;
      display: block;
      font-weight: normal; }
    .slideComponent .ageGroup .price {
      margin: 0 0 0 15px; }
  .slideComponent .attractionNav {
    position: absolute;
    bottom: 0;
    margin: 10px 0 0 0; }
  .slideComponent .included .attractionType {
    background-color: rgba(233, 30, 99, 0.9); }
  .slideComponent .included .typeLabel {
    padding: 3px 5px;
    color: #fff;
    display: block; }
  .slideComponent .choose .attractionType {
    background-color: rgba(156, 39, 176, 0.9); }
  .slideComponent .choose .typeLabel {
    padding: 3px 5px;
    color: #fff;
    display: block; }
  .slideComponent .addOn .attractionType {
    background-color: rgba(255, 193, 7, 0.9); }
  .slideComponent .addOn .typeLabel {
    padding: 3px 5px;
    color: #000;
    display: block; }

@media screen and (min-width: 320px) and (max-width: 479px) {
  .attractionTile {
    width: 220px; }
    .attractionTile .attractionTitle, .attractionTile .attractionSubTitle, .attractionTile .attractionSubTitleCity {
      font-size: 14px; }
    .attractionTile .attractionTitle img {
      margin: 10px 0 5px 0; }
    .attractionTile .attractionSubTitle {
      line-height: 18px; }
    .attractionTile .attractionSubTitleCity {
      margin: 0 0 3px 0; }
    .attractionTile .ageGroup .price {
      font-weight: normal;
      font-size: 18px; }

  .included .typeLabel, .choose .typeLabel, .addOn .typeLabel {
    font-size: 14px; }

  #includedAttractionList {
    margin: 0 0 20px 0; }
    #includedAttractionList .sectionTitle {
      margin-top: 10px; } }
.featureList {
  float: left;
  width: 100%;
  position: relative; }
  .featureList .feature {
    text-align: left;
    padding: 10px 0 0 0;
    position: relative;
    -webkit-box-shadow: 0 2px 5px rgba(0, 0, 0, 0.35) inset;
    -moz-box-shadow: 0 2px 5px rgba(0, 0, 0, 0.35) inset;
    box-shadow: 0 2px 5px rgba(0, 0, 0, 0.35) inset; }
    .featureList .feature a {
      text-decoration: none; }
      .featureList .feature a:hover {
        text-decoration: none; }
    .featureList .feature .featureTitle {
      height: 40px;
      width: 100%; }
      .featureList .feature .featureTitle h3, .featureList .feature .featureTitle h4 {
        padding: 0 10px;
        color: #fff; }
      .featureList .feature .featureTitle h3 {
        font-weight: bold; }
      .featureList .feature .featureTitle h4 {
        font-weight: normal; }
    .featureList .feature .featureDetails {
      -webkit-box-shadow: 0 2px 5px rgba(0, 0, 0, 0.35) inset;
      -moz-box-shadow: 0 2px 5px rgba(0, 0, 0, 0.35) inset;
      box-shadow: 0 2px 5px rgba(0, 0, 0, 0.35) inset;
      padding: 10px; }
  .featureList #feature1 {
    background-color: #00BCD4; }
  .featureList #featureDetails1 {
    background-color: #B2EBF2; }
  .featureList #feature2 {
    background-color: #03A9F4; }
  .featureList #featureDetails2 {
    background-color: #B3E5FC; }
  .featureList #feature3 {
    background-color: #8BC34A; }
  .featureList #featureDetails3 {
    background-color: #DCEDC8; }
  .featureList #feature4 {
    background-color: #CDDC39; }
  .featureList #featureDetails4 {
    background-color: #F0F4C3; }
  .featureList #feature5 {
    background-color: #FFC107; }
  .featureList #featureDetails5 {
    background-color: #FFECB3; }

@media screen and (min-width: 320px) and (max-width: 479px) {
  .featureList .featureTitle h3 {
    font-size: 16px;
    line-height: 18px; }
  .featureList .featureTitle h4 {
    font-size: 14px;
    line-height: 16px; }
  .featureList .featureDetails p {
    font-size: 14px; } }
.detailOverlay {
  width: 100%;
  height: 100%;
  position: absolute;
  z-index: 100;
  background-color: rgba(0, 0, 0, 0.5); }
  .detailOverlay .detailTitle {
    background-color: #fff;
    position: fixed;
    top: 0;
    width: 100%; }
  .detailOverlay .detailContent {
    text-align: center;
    background-color: #fff;
    position: static; }
    .detailOverlay .detailContent img {
      margin-top: 80px; }
  .detailOverlay .detailFooter {
    background-color: #fff;
    position: fixed;
    bottom: 0;
    width: 100%; }
    .detailOverlay .detailFooter .btn {
      margin: 12px; }
