html, body, div, span, applet, object, iframe,
h1, h2, h3, h4, h5, h6, p, blockquote, pre,
a, abbr, acronym, address, big, cite, code,
del, dfn, em, img, ins, kbd, q, s, samp,
small, strike, strong, sub, sup, tt, var,
b, u, i, center,
dl, dt, dd, ol, ul, li,
fieldset, form, label, legend,
table, caption, tbody, tfoot, thead, tr, th, td,
article, aside, canvas, details, embed,
figure, figcaption, footer, header, hgroup,
menu, nav, output, ruby, section, summary,
time, mark, audio, video {
  margin: 0;
  padding: 0;
  border: 0;
  font: inherit;
  font-size: 100%;
  vertical-align: baseline; }

html {
  line-height: 1; }

ol, ul {
  list-style: none; }

table {
  border-collapse: collapse;
  border-spacing: 0; }

caption, th, td {
  text-align: left;
  font-weight: normal;
  vertical-align: middle; }

q, blockquote {
  quotes: none; }
  q:before, q:after, blockquote:before, blockquote:after {
    content: "";
    content: none; }

a img {
  border: none; }

article, aside, details, figcaption, figure, footer, header, hgroup, main, menu, nav, section, summary {
  display: block; }

/* input[type=checkbox]{outline:1px solid $blue;margin:0;border:none;box-shadow:none;} */
.btn {
  background-color: #3c8bd3;
  -webkit-border-radius: 2px;
  -moz-border-radius: 2px;
  border-radius: 2px;
  text-align: center;
  color: #fff;
  text-transform: uppercase; }

.buy {
  line-height: 40px; }
  .buy .btnCount {
    font-size: 14px;
    font-weight: normal;
    white-space: nowrap; }

@media screen and (min-width: 480px) {
  .product .buyBox .buyBoxPadding .nav .buy {
    line-height: 30px; }
  .product .buyBox .buyBoxPadding .nav .btnCount {
    font-size: 12px; } }
body {
  font: 100% Helvetica, sans-serif;
  -webkit-font-smoothing: subpixel-antialiased;
  -moz-osx-font-smoothing: auto; }

a {
  color: #3c8bd3;
  text-decoration: none; }
  a:hover {
    text-decoration: underline; }

h1, h2, h3, h4, h5, p {
  color: #000; }

h1 {
  font-size: 38px;
  line-height: 2; }

h2 {
  font-size: 26px;
  line-height: 1.8; }

h3 {
  font-size: 20px;
  line-height: 1.6; }

h4 {
  font-size: 18px;
  line-height: 1.5; }

h5 {
  font-size: 17px;
  line-height: 1.45; }

p {
  font-size: 16px;
  line-height: 1.4;
  margin-bottom: 12.25; }

.psmall {
  font-size: 14px;
  line-height: 14.5px; }

blockquote {
  font-size: 16px;
  line-height: 1.4;
  font-style: italic;
  border-left: 2px solid #3c8bd3;
  margin: 0 0 0 6px;
  padding: 0 0 0 6px; }

.mouse {
  font-size: 12.8px;
  line-height: 1.4;
  font-style: italic; }

@media screen and (min-width: 320px) and (max-width: 479px) {
  .buyBox .cityLogo img {
    height: 40px; } }
@media screen and (min-width: 480px) {
  .buyBox .cityLogo img {
    height: 50px; } }
.product {
  margin: 20px; }
  .product .atf {
    width: 100%; }
    .product .atf .carousel {
      float: left; }
    .product .atf .buyBox {
      float: left; }

.price {
  color: #ff9900; }

.save {
  color: #CF534D; }

@media screen and (min-width: 320px) and (max-width: 479px) {
  .product .atf .carousel {
    clear: both;
    width: 100%; }
  .product .atf .buyBox {
    clear: both;
    width: 100%; } }
@media screen and (min-width: 480px) {
  .product .atf .carousel {
    width: 49%; }
  .product .atf .buyBox {
    width: 49%; } }
@media screen and (min-width: 768px) {
  .product .atf .carousel {
    width: 59%; }
  .product .atf .buyBox {
    width: 39%; } }
@media screen and (min-width: 1024px) {
  .product .atf .carousel {
    width: 69%; }
  .product .atf .buyBox {
    width: 29%; } }
.buyBox {
  border: 1px solid #CF534D;
  -webkit-border-radius: 2px;
  -moz-border-radius: 2px;
  border-radius: 2px; }
  .buyBox .buyBoxPadding {
    padding: 10px 20px 15px 20px; }
    .buyBox .buyBoxPadding .cityLogo {
      text-align: center; }
    .buyBox .buyBoxPadding .reviews {
      text-align: center;
      margin: 6px 0 0 0;
      font-size: 12px;
      font-weight: bold; }
      .buyBox .buyBoxPadding .reviews img {
        vertical-align: middle; }
      .buyBox .buyBoxPadding .reviews .reviewCount {
        font-weight: normal;
        font-size: 10px; }
    .buyBox .buyBoxPadding .ageGroup {
      margin: 0;
      padding: 8px 0;
      border-bottom: 1px solid #ededed;
      display: table;
      width: 100%; }
      .buyBox .buyBoxPadding .ageGroup .age, .buyBox .buyBoxPadding .ageGroup .price, .buyBox .buyBoxPadding .ageGroup .quantity {
        display: table-cell;
        vertical-align: bottom; }
      .buyBox .buyBoxPadding .ageGroup .price, .buyBox .buyBoxPadding .ageGroup .quantity {
        text-align: right; }
      .buyBox .buyBoxPadding .ageGroup .age {
        font-weight: bold; }
      .buyBox .buyBoxPadding .ageGroup .save {
        margin: 0 0 0 5px;
        display: block;
        font-weight: normal; }
      .buyBox .buyBoxPadding .ageGroup .price {
        margin: 0 0 0 15px;
        font-weight: bold; }
    .buyBox .buyBoxPadding .addOns .title {
      color: #666666;
      text-transform: uppercase; }
    .buyBox .buyBoxPadding .addOns .addOn {
      font-weight: bold;
      font-size: 14px;
      margin: 10px 0; }
      .buyBox .buyBoxPadding .addOns .addOn input {
        float: left;
        margin: 5px 0 0 0; }
      .buyBox .buyBoxPadding .addOns .addOn .addOnLabel {
        margin: 0 0 0 20px;
        color: #404040; }
      .buyBox .buyBoxPadding .addOns .addOn .addOn_ages {
        display: block;
        font-size: 12px;
        font-weight: normal; }
        .buyBox .buyBoxPadding .addOns .addOn .addOn_ages .price {
          font-weight: bold; }
    .buyBox .buyBoxPadding .total {
      padding: 5px 0 0 0;
      border-top: 1px solid #878787;
      text-align: right;
      text-transform: capitalize;
      color: #878787; }
      .buyBox .buyBoxPadding .total .totalPrice {
        margin: 0 0 0 5px;
        font-weight: bold; }
    .buyBox .buyBoxPadding .nav {
      margin: 20px 0 0 0; }
  .buyBox .buyBoxFooter {
    padding: 5px 10px;
    border-top: 1px solid #878787;
    background-color: #ededed; }
    .buyBox .buyBoxFooter .currency {
      font-size: 12px;
      text-align: center;
      color: #878787;
      font-weight: normal;
      text-transform: capitalize; }

@media screen and (min-width: 320px) and (max-width: 479px) {
  .cityLogo img {
    height: 40px; }

  .age {
    font-size: 14px; }

  .save {
    font-size: 12px; }

  .price, .totalPrice {
    font-size: 20px; }

  .addOns {
    margin: 5px 0 0 0; }
    .addOns .title {
      font-size: 12px; }
    .addOns .addOn {
      font-size: 12px;
      margin: 8px 0; }
      .addOns .addOn .addOn_ages .price {
        font-size: 12px; }

  .total {
    font-size: 12px; } }
@media screen and (min-width: 480px) {
  .cityLogo img {
    height: 50px; }

  .age {
    font-size: 14px; }

  .save {
    font-size: 12px; }

  .price, .totalPrice {
    font-size: 18px; }

  .addOns {
    margin: 5px 0 0 0; }
    .addOns .title {
      font-size: 12px; }
    .addOns .addOn .addOn_ages .price {
      font-size: 12px; }

  .total {
    font-size: 12px; } }
@media screen and (min-width: 768px) {
  .cityLogo img {
    height: 60px; }

  .age {
    font-size: 18px; }

  .save {
    font-size: 14px; }

  .price, .totalPrice {
    font-size: 28px; }

  .addOns {
    margin: 15px 0 0 0; }
    .addOns .title {
      font-size: 12px; }
    .addOns .addOn .addOn_ages .price {
      font-weight: bold;
      font-size: 14px; }

  .total {
    font-size: 12px; } }
