html, body, div, span, applet, object, iframe,
h1, h2, h3, h4, h5, h6, p, blockquote, pre,
a, abbr, acronym, address, big, cite, code,
del, dfn, em, img, ins, kbd, q, s, samp,
small, strike, strong, sub, sup, tt, var,
b, u, i, center,
dl, dt, dd, ol, ul, li,
fieldset, form, label, legend,
table, caption, tbody, tfoot, thead, tr, th, td,
article, aside, canvas, details, embed,
figure, figcaption, footer, header, hgroup,
menu, nav, output, ruby, section, summary,
time, mark, audio, video {
  margin: 0;
  padding: 0;
  border: 0;
  font: inherit;
  font-size: 100%;
  vertical-align: baseline; }

html {
  line-height: 1; }

ol, ul {
  list-style: none; }

table {
  border-collapse: collapse;
  border-spacing: 0; }

caption, th, td {
  text-align: left;
  font-weight: normal;
  vertical-align: middle; }

q, blockquote {
  quotes: none; }
  q:before, q:after, blockquote:before, blockquote:after {
    content: "";
    content: none; }

a img {
  border: none; }

article, aside, details, figcaption, figure, footer, header, hgroup, main, menu, nav, section, summary {
  display: block; }

body {
  font: 100% Helvetica, sans-serif; }

a {
  color: #2f6fa8;
  text-decoration: none; }
  a:hover {
    text-decoration: underline; }

h1, h2, h3, h4, h5, p {
  color: #000; }

h1 {
  font-size: 38px;
  line-height: 2; }

h2 {
  font-size: 26px;
  line-height: 1.8; }

h3 {
  font-size: 20px;
  line-height: 1.6; }

h4 {
  font-size: 18px;
  line-height: 1.5; }

h5 {
  font-size: 17px;
  line-height: 1.45; }

p {
  font-size: 16px;
  line-height: 1.4;
  margin-bottom: 12.25; }

.psmall {
  font-size: 14px;
  line-height: 14.5px; }

blockquote {
  font-size: 16px;
  line-height: 1.4;
  font-style: italic;
  border-left: 2px solid #2f6fa8;
  margin: 0 0 0 6px;
  padding: 0 0 0 6px; }

.mouse {
  font-size: 12.8px;
  line-height: 1.4;
  font-style: italic; }

@media screen and (min-width: 320px) and (max-width: 479px) {
  .buyBox .cityLogo img {
    height: 40px; } }
@media screen and (min-width: 480px) {
  .buyBox .cityLogo img {
    height: 50px; } }
.product {
  margin: 20px; }
  .product .atf {
    width: 100%; }
    .product .atf .carousel {
      float: left; }
    .product .atf .buyBox {
      float: left; }

@media screen and (min-width: 320px) and (max-width: 479px) {
  .product .atf .carousel {
    clear: both;
    width: 100%; }
  .product .atf .buyBox {
    clear: both;
    width: 100%; } }
@media screen and (min-width: 480px) {
  .product .atf .carousel {
    width: 49%; }
  .product .atf .buyBox {
    width: 49%; } }
@media screen and (min-width: 768px) {
  .product .atf .carousel {
    width: 59%; }
  .product .atf .buyBox {
    width: 39%; } }
@media screen and (min-width: 1024px) {
  .product .atf .carousel {
    width: 69%; }
  .product .atf .buyBox {
    width: 29%; } }
.buyBox {
  border: 1px solid #CF534D;
  -webkit-border-radius: 2px;
  -moz-border-radius: 2px;
  border-radius: 2px; }
  .buyBox .cityLogo {
    text-align: center;
    margin: 10px 0 0 0; }
    .buyBox .cityLogo img {
      height: 60px; }
  .buyBox .reviews {
    text-align: center;
    margin: 6px 0 0 0;
    font-size: 12px;
    font-weight: bold; }
    .buyBox .reviews img {
      vertical-align: middle; }
    .buyBox .reviews .reviewCount {
      font-weight: normal;
      font-size: 10px; }
  .buyBox .ageGroup {
    margin: 0 20px;
    border-bottom: 1px solid #878787; }

@media screen and (min-width: 320px) and (max-width: 479px) {
  .buyBox .cityLogo img {
    height: 40px; } }
@media screen and (min-width: 480px) {
  .buyBox .cityLogo img {
    height: 50px; } }
