.product{
	.atf{
		width:100%;
		.carousel{
			float:left;
			.heroWrapper{width:100%;position:relative;}
		}
		.buyBox{float:left;}		
	}
	.sectionTitle{
		text-align:center;float:left;width:100%;text-transform:capitalize;font-weight:normal;color:$gray-medium;
		.sectionSubTitle{display:block;color:$gray-dark;}
	}
	section{float:left;width:100%;}
	section:nth-child(odd){background-color:$gray-lightest;}
	
}
.price{color:$orange;}
.save{color:$red;}
.discount{color:$black2;}


@include screen(320px, 479px)
{
	.product{
		.atf{
			.carousel{@include clear;width:100%;}
			.buyBox{@include clear;width:100%;}
		}
		.sectionTitle{
			margin:30px 0 6px 0;font-size:18px;
			.sectionSubTitle{font-size:14px;line-height:24px;}
		}
	}
}
@include min-screen(480px)
{
	.product{
		.atf{
			.carousel{
				width:49%;
				.heroWrapper{padding-bottom:69.716%;}
			}
			.buyBox{width:50%;}
		}
	}
}
@include min-screen(768px)
{
	.product{
		.atf{
			.carousel{
				width:74%;
				.heroWrapper{padding-bottom:63.536%;}
			}
			.buyBox{width:25%;}
		}
	}
}
@include min-screen(1024px)
{
	.product{
		.atf{
			.carousel{
				width:74%;
				.heroWrapper{padding-bottom:52.356%;}
			}
			.buyBox{width:25%;}
		}
	}
}
