.product{
	.atf{
		width:100%;
		.carousel{
			float:left;
			.heroWrapper{width:100%;position:relative;}
		}
		.buyBox{float:left;}		
	}
}
.price{color:$orange;}
.save{color:$red;}
.discount{color:$black2;}


@include screen(320px, 479px)
{
	.product{
		.atf{
			.carousel{@include clear;width:100%;}
			.buyBox{@include clear;width:100%;}
		}
	}
}
@include min-screen(480px)
{
	.product{
		.atf{
			.carousel{
				width:49%;
				.heroWrapper{padding-bottom:69.716%;}
			}
			.buyBox{width:50%;}
		}
	}
}
@include min-screen(768px)
{
	.product{
		.atf{
			.carousel{
				width:74%;
				.heroWrapper{padding-bottom:63.536%;}
			}
			.buyBox{width:25%;}
		}
	}
}
@include min-screen(1024px)
{
	.product{
		.atf{
			.carousel{
				width:74%;
				.heroWrapper{padding-bottom:52.356%;}
			}
			.buyBox{width:25%;}
		}
	}
}
