.attractionList{
	float:left;padding:10px 0 0 0;width:100%;@include box-shadow(0, 2px, 5px, rgba(0, 0, 0, 0.35), inset);
  overflow: scroll;
  overflow-y: hidden;
  -webkit-overflow-scrolling: touch;
	.attractionWrapper{width:10000px;}
	.attractionTileWrap{float:left;margin:10px;}
	.attractionTile{
		position:relative;min-height:300px;
		@include rounded(3px);background-color:$white;
	}
	.attractionTitle, .attractionSubTitle{text-align:center;padding:8px 0;}
	.attractionTitle{
		font-weight:bold;
		img{width:80%;}
	}
	.ageGroup{
		border-bottom:1px solid $gray-light;display:table;width:100%;
		.ageGroupLineItem{margin:0 10px;display:table-row;}
		.age, .price, .quantity{display:table-cell;vertical-align:bottom;}
		.price, .quantity{text-align:right;}
		.age{font-weight:normal;color:$gray-medium;}
		.save{margin:0 0 0 5px;display:block;font-weight:normal;}
		.price{margin:0 0 0 15px;}
	}
	.attractionNav{
		position:absolute;bottom:0;
		margin:10px 0 0 0;
	}
}
.includedAtt{
	background-color:$blue50;
	.attractionTile{border:1px solid $gray-light;background-size:contain;background:center center no-repeat;}
	.attractionSubTitle{background:rgba(225,225,225,0.8);width:100%;color:$black;font-weight:bold;text-shadow:1px 1px 1px rgba(225,225,225,0.35);position:absolute;bottom:0;}
	.attractionCopy{color:$black2;font-weight:normal;display:block;}
}
.addOnAtt{
	background-color:$teal50;
	.attractionTile{border:1px solid $teal200;padding:5px;}
	.attractionTitle{color:$teal600;}
	.attractionSubTitle{color:$gray-medium;}
}

@include screen(320px, 479px)
{
	.attractionTile{
		width:220px;
		.attractionTitle, .attractionSubTitle, .attractionSubTitleCity{font-size:14px;}
		.attractionTitle{
			img{margin:10px 0 5px 0;}
		}
		.attractionSubTitle{line-height:18px;}
		.attractionSubTitleCity{margin:0 0 3px 0;}
		.ageGroup{
			.price{font-weight:normal;font-size:18px;}
		}
	}
	#includedAttractionList{
		margin:0 0 20px 0;
		.sectionTitle{margin-top:10px;}
	}
}
@include min-screen(480px)
{
}
@include min-screen(768px)
{
}
@include min-screen(1024px)
{
}