.buyBoxWrap{
	margin:0 10px;padding:10px 0 0 0;
}
.buyBox{
	border:1px solid $black2;@include rounded(3px);
	.buyBoxPadding{
		padding:10px 10px 15px 10px;
		h1{text-align:center;}
		.smallCP{color:$black2;}
		.reviews{
			text-align:center;margin:6px 0 0 0;font-size:12px;font-weight:bold;
			img{vertical-align:middle;}
			.reviewCount{font-weight:normal;font-size:10px;}
		}
		.tabs{
			margin:8px 0 0 0;width:100%;font-size:12px;
			@include tabList;
		}
		.tabMessage{padding:6px;}
		.ageGroup{
			margin:0;padding:8px 0;
			border-bottom:1px solid $gray-light;display:table;width:100%;
			.ageGroupLineItem{display:table-row;}
			.age, .price, .quantity{display:table-cell;vertical-align:bottom;}
			.price, .quantity{text-align:right;}
			.age{font-weight:bold;color:$black2;}
			.ageGroupDiscount{
				margin:2px 0 0 5px;color:$gray-medium;font-weight:normal;
				.discount{margin:0 0 0 2px;}
				.save{margin:0 0 0 5px;}
			}
			.price{margin:0 0 0 15px;font-weight:bold;vertical-align:bottom;}
			.quantity{width:20%;padding:0 0 3px 10px;vertical-align:bottom;}
		}
		.addOns{
			.title{color:$gray-dark;text-transform:uppercase;}
			.addOn{
				font-weight:bold;font-size:13px;margin:8px 0;
				input{float:left;margin:5px 0 0 0;}
				.addOnLabel{margin:0 0 0 20px;color:$black2;}
				.addOn_ages{
					display:block;font-size:12px;font-weight:normal;
					.price{font-weight:bold;}
				}
			}
		}
		.pricing{
			padding:5px 0 0 0;border-top:1px solid $gray-medium;width:100%;display:table;
			.priceLineItem{
				display:table-row;
				.priceLabel, .value{display:table-cell;text-align:right;text-transform:capitalize;}
				.priceLabel{padding:0 6px 0 0;color:$gray-medium;}
				.value{width:10%;}
			}
			.totalPrice{font-weight:bold;}
		}
		.nav{margin:20px 0 0 0;}
	}
	.buyBoxFooter{
		padding:5px 10px;border-top:1px solid $gray-medium;background-color:$gray-light;
		.currency{font-size:12px;text-align:center;color:$gray-medium;font-weight:normal;text-transform:capitalize;}
	}
}




@include screen(320px, 479px)
{
	h1{font-size:18px;line-height:26px;font-weight:bold;}
	.smallCP{font-size:15px;}
	.age{font-size:14px;}
	.ageGroupDiscount{font-size:12px;}
	.price, .totalPrice{font-size:20px;}
	.addOns{
		margin:5px 0 0 0;
		.title{font-size:12px;}
		.addOn{
			font-size:12px;margin:8px 0;
			.addOn_ages{
				.price{font-size:12px;}
			}
		}
	}
	.priceLabel, .discount{font-size:12px;}
}
@include min-screen(480px)
{
	h1{font-size:18px;line-height:26px;font-weight:bold;}
	.smallCP{font-size:15px;}
	.age{font-size:14px;}
	.save{font-size:12px;}
	.price, .totalPrice{font-size:18px;}
	.addOns{
		margin:5px 0 0 0;
		.title{font-size:12px;}
		.addOn{
			.addOn_ages{
				.price{font-size:12px;}
			}
		}
	}
	.priceLabel, .discount{font-size:12px;}
}
@include min-screen(768px)
{
	h1{font-size:20px;line-height:26px;font-weight:bold;}
	.smallCP{font-size:16px;}
	.age{font-size:16px;}
	.save{font-size:14px;}
	.price, .totalPrice{font-size:20px;}
	.addOns{
		margin:15px 0 0 0;
		.title{font-size:12px;}
		.addOn{
			.addOn_ages{
				.price{font-weight:bold;font-size:14px;}
			}
		}
	}
	.priceLabel, .discount{font-size:12px;}
}
@include min-screen(1024px)
{
}
