.carousel{
	.carouselPadding{
		.heroWrapper{
			background-size:cover;
			.carouselMessage{
				background:rgba(225,225,225,0.7);position:absolute;bottom:0;width:100%;color:$black2;text-shadow:1px 1px 1px rgba(225,225,225,0.35);
				.carouselTitle{padding:10px;font-weight:normal;}
				.location{display:block;font-weight:bold;}
			}
		}
	}
	.carouselNav{
		margin:5px 0 0 0;text-align:center;
		a{display:inline-block;margin:0 3px;}
		div{
			@include cirle(10px, 10px, $gray-medium);
			&:hover{background:$black;}
		}
		.active{background:$black;}
		#allAttractions{
			float:right;margin:0 10px 0 0;color:$gray-medium;
			&:hover{text-decoration:none;color:$black2;}
		}
	}
}


@include screen(320px, 479px){
	.carousel{
		margin:0 0 12px 0;
		.carouselPadding{
			margin:0;
			.heroWrapper{height:200px;}
		}
		.carouselNav{
			#allAttractions{font-size:13px;}
		}
	}
}
@include min-screen(480px){
	.carousel{
		.attractionList{
			font-size:12px;font-weight:bold;
			.attractionTile{
				width:95%;height:45px;margin:2px 6px;
				img{padding:10px 0 0 2px;width:60px;}
				.attractionName{margin-left:65px;padding:8px 0 0 0;}
				.attractionNameSub{font-size:12px;font-weight:normal;color:$gray-medium;}
			}
			.carouselActive{
				border-left:1px solid $red;
			}
			.cpTile{
				width:100%;font-size:14px;margin:2px 0;
			}
		}
	}
}
@include min-screen(768px){
	.carousel{
		.carouselPadding{
			.heroWrapper{
				.carouselMessage{
					font-size:18px;
					.location{font-size:20px;}
				}
			}
			.attractionSummary{
				margin:7px;
				img{height:50px;}
				.pitch{margin-left:143px;}
			}
		}
		.attractionList{
			font-size:14px;font-weight:bold;
			.attractionTile{
				width:22%;height:120px;margin:2px 6px;text-align:center;
				img{padding:10px 0 0 2px;width:70%;float:none;}
				.attractionName{margin:0;padding:8px 0 0 0;}
				.attractionNameSub{display:none;}
			}
			.carouselActive{
				border-left:1px solid $red;
			}
			.cpTile{
				img{width:100px;float:left;padding:6px 0 0 2px;}
				width:100%;font-size:18px;margin:2px 0;height:50px;
				.attractionNameSub{display:block;font-size:14px;}
			}
		}
	}
}
@include min-screen(1024px){
	.carousel{
		.carouselPadding{
			.heroWrapper{
				.carouselMessage{
					font-size:20px;
					.location{font-size:24px;}
				}
			}
			.attractionSummary{
				margin:10px;
				img{height:60px;}
				.pitch{margin-left:170px;}
			}
		}
		.attractionListWrap{margin:5px 10px 10px 10px;float:left;}
		.attractionList{
			font-size:14px;font-weight:bold;width:25%;
			.attractionTile{
				width:95%;height:50px;margin:2px 6px;padding:0 6px 0 0;text-align:left;
				img{padding:10px 0 0 2px;width:70px;float:left;}
				.attractionName{margin-left:80px;padding:8px 0 0 0;}
				.attractionNameSub{font-size:12px;font-weight:normal;color:$gray-medium;display:block;}
			}
			.carouselActive{
				border-left:1px solid $red;
			}
			.cpTile{
				img{width:70px;float:left;padding:6px 0 0 2px;}
				width:100%;font-size:18px;margin:2px 0;height:50px;
				.attractionNameSub{display:block;font-size:12px;}
			}
		}
	}
}