.carousel{
	.carouselPadding{
		margin:0 10px 0 0;
		.heroWrapper{
			background-size:cover;
			.carouselMessage{
				background:rgba(225,225,225,0.6);position:absolute;bottom:0;width:100%;color:$black2;text-shadow:1px 1px 1px rgba(225,225,225,0.35);
				.carouselTitle{padding:10px;font-weight:normal;}
				.location{display:block;font-weight:bold;}
			}
		}
		.attractionSummary{
			margin:5px;
			img{height:40px;float:left;}
			.pitch{margin-left:110px;}
		}
	}
	.attractionListWrap{margin:5px 10px 10px 10px;}
	.attractionList{
		.attractionTile{
			@include rounded(2px);
			border:1px solid $gray-light;background-color:$gray-lightest;float:left;
			&:hover{border:1px solid $blue;background-color:$gray-lighter;}
			img{opacity:0.8;vertical-align:middle;float:left;}
			.attractionName{margin-left:65px;padding:6px 0 0 0;}
			.attractionNameSub{display:block;color:$gray-dark;}
			a{
				color:$gray-dark;
				&:hover{color:$blue;text-decoration:none;}
			}
		}
		.cpTile{
			border-top:1px solid $red;
			a{color:$red;}
		}
	}
}


@include screen(320px, 479px){
	.carousel{
		margin:0 0 10px 0;
		.carouselPadding{
			margin:0 0 15px 0;height:200px;
			.heroWrapper{height:200px;}
		}
		.attractionList{
			font-size:14px;font-weight:normal;
			.attractionTile{
				width:45%;height:35px;margin:2px 6px;
				img{display:none;}
				.attractionName{margin-left:0;padding:4px 0 0 0;text-align:center;}
				.attractionNameSub{display:none;}
			}
			.carouselActive{
				border-bottom:1px solid $red;
			}
			.cpTile{
				width:100%;font-size:14px;margin:2px 0;
				.attractionNameSub{font-size:12px;font-weight:normal;color:$gray-medium;display:block;}
			}
		}
	}
}
@include min-screen(480px){
	.carousel{
		.attractionList{
			font-size:12px;font-weight:bold;
			.attractionTile{
				width:95%;height:45px;margin:2px 6px;
				img{padding:10px 0 0 2px;width:60px;}
				.attractionName{margin-left:65px;padding:8px 0 0 0;}
				.attractionNameSub{font-size:12px;font-weight:normal;color:$gray-medium;}
			}
			.carouselActive{
				border-left:1px solid $red;
			}
			.cpTile{
				width:100%;font-size:14px;margin:2px 0;
			}
		}
	}
}
@include min-screen(768px){
	.carousel{
		.carouselPadding{
			.heroWrapper{
				.carouselMessage{
					font-size:18px;
					.location{font-size:20px;}
				}
			}
			.attractionSummary{
				margin:7px;
				img{height:50px;}
				.pitch{margin-left:143px;}
			}
		}
		.attractionList{
			font-size:14px;font-weight:bold;
			.attractionTile{
				width:22%;height:120px;margin:2px 6px;text-align:center;
				img{padding:10px 0 0 2px;width:70%;float:none;}
				.attractionName{margin:0;padding:8px 0 0 0;}
				.attractionNameSub{display:none;}
			}
			.carouselActive{
				border-left:1px solid $red;
			}
			.cpTile{
				img{width:100px;float:left;padding:6px 0 0 2px;}
				width:100%;font-size:18px;margin:2px 0;height:50px;
				.attractionNameSub{display:block;font-size:14px;}
			}
		}
	}
}
@include min-screen(1024px){
	.carousel{
		.carouselPadding{
			.heroWrapper{
				.carouselMessage{
					font-size:20px;
					.location{font-size:24px;}
				}
			}
			.attractionSummary{
				margin:10px;
				img{height:60px;}
				.pitch{margin-left:170px;}
			}
		}
		.attractionListWrap{margin:5px 10px 10px 10px;float:left;}
		.attractionList{
			font-size:14px;font-weight:bold;width:25%;
			.attractionTile{
				width:95%;height:50px;margin:2px 6px;padding:0 6px 0 0;text-align:left;
				img{padding:10px 0 0 2px;width:70px;float:left;}
				.attractionName{margin-left:80px;padding:8px 0 0 0;}
				.attractionNameSub{font-size:12px;font-weight:normal;color:$gray-medium;display:block;}
			}
			.carouselActive{
				border-left:1px solid $red;
			}
			.cpTile{
				img{width:70px;float:left;padding:6px 0 0 2px;}
				width:100%;font-size:18px;margin:2px 0;height:50px;
				.attractionNameSub{display:block;font-size:12px;}
			}
		}
	}
}