.detailOverlay{
	width:100%;height:100%;position:absolute;z-index:100;
	background-color:rgba(0, 0, 0, 0.5);
	.detailTitle{background-color:$white;position:fixed;top:0;width:100%;}
	.detailContent{
		text-align:center;background-color:$white;position:static;
		img{margin-top:80px;}
	}
	.detailFooter{
		background-color:$white;position:fixed;bottom:0;width:100%;
		.btn{margin:12px;}
	}
}


@include screen(320px, 479px)
{
}
@include min-screen(480px)
{
}
@include min-screen(768px)
{
}
@include min-screen(1024px)
{
}