@mixin clear{clear:both;}

@mixin rounded($radius: 2px) {
  -webkit-border-radius: $radius;
  -moz-border-radius: $radius;
  border-radius: $radius;
}

@mixin font-smoothing($value: antialiased) {
  @if $value == antialiased {
    -webkit-font-smoothing: antialiased;
    -moz-osx-font-smoothing: grayscale;
  }
  @else {
    -webkit-font-smoothing: subpixel-antialiased;
    -moz-osx-font-smoothing: auto;
  }
}

@mixin tabList{
	.tabrow{margin:0;padding:0;list-style:none;line-height:24px;position:relative;}
	.tabrow li{
    margin:0 0 0 5px;padding:0 10px;border:1px solid #CF534D;background:$gray-lightest;display:inline-block;position:relative;z-index:0;
		border-top-left-radius:3px;border-top-right-radius:3px;
		a{
			color:$gray-medium;
			&:hover{text-decoration:none;color:$black2;}
		}
	}
	.tabrow:before{z-index:1;}
	.tabrow:after{position:absolute;content:"";width:100%;bottom:0;left:0;border-bottom:1px solid #CF534D;z-index:1;}
	.tabrow li.selected{
		z-index:2;border-bottom-color:#fef7e9;background-color:#fef7e9;
		a{
			color:$black2;
			&:hover{text-decoration:none;}
		}
	}
}
