$black: 	#000;
$white:		#fff;
$red:			#CF534D;
$orange:	#ff9900;
$blue:		#3c8bd3;
$black2:			lighten($black, 25%);
$gray-dark:		lighten($black, 40%);
$gray-medium:	lighten($black, 53%);
$gray-light:	lighten($black, 93%);
$blue-light:	lighten($blue, 50%);