$black: 	#000;
$white:		#fff;
$red:			#CF534D;
$orange:	#ff9900;
$blue:		#3c8bd3;
$green:		#4ea44f;

$black2:				lighten($black, 25%);
$gray-dark:			lighten($black, 40%);
$gray-medium:		lighten($black, 53%);
$gray-light:		lighten($black, 93%);
$gray-lighter:	lighten($black, 96%);
$gray-lightest:	lighten($black, 98%);

$red-light:			lighten($red, 50%);
$orange-light:	lighten($orange, 45%);
$blue-light:		lighten($blue, 45%);
$green-light:		lighten($green, 50%);

/* Feature Tiles */
$amber500:			#FFC107;
$amber100:			#FFECB3;
$blue500:				#2196F3;
$blue100:				#BBDEFB;
$blueGrey500:		#607D8B;
$blueGrey100:		#CFD8DC;
$brown500:			#795548;
$brown100:			#D7CCC8;
$cyan500:				#00BCD4;
$cyan50:				#E0F7FA;
$cyan100:				#B2EBF2;
$deepOrange500:	#FF5722;
$deepOrange100:	#FFCCBC;
$deepPurple500:	#673AB7;
$deepPurple100:	#D1C4E9;
$green500:			#4CAF50;
$green100:			#C8E6C9;
$indigo500:			#3F51B5;
$indigo100:			#C5CAE9;
$lightBlue500:	#03A9F4;
$lightBlue100:	#B3E5FC;
$lightGreen500:	#8BC34A;
$lightGreen100:	#DCEDC8;
$lime500:				#CDDC39;
$lime100:				#F0F4C3;
$orange500:			#FF9800;
$orange100:			#FFE0B2;
$pink500:				#E91E63;
$pink100:				#F8BBD0;
$purple500:			#9C27B0;
$purple100:			#E1BEE7;
$red500:				#F44336;
$red100:				#FFCDD2;
$teal50:				#E0F2F1;
$teal100:				#B2DFDB;
$teal200:				#80CBC4;
$teal500:				#009688;
$teal600:				#00897B;
$teal700:				#00796B;
$teal800:				#00695C;
$teal900:				#004D40;
$yellow500:			#FFEB3B;
$yellow100:			#FFF9C4;
